<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/aboutme.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Sablon Thaïs | About Me</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="logo">
                <a href="../index.html"><h1 id="thais">Sablon Thaïs</h1></a>
            </div>
            <div class="hamburger">
                <div class="line-menu half start"></div>
                <div class="line-menu"></div>
                <div class="line-menu half end"></div>
            </div>
            <div class="navBar">
                <h3>Menu</h3><br>
                   <ul>
                        <li><a href="../index.html">Homapage</a></li>
                        <li><a href="./portfolio.html">Projects</a></li>
                        <li><a href="./skills.html">Skills</a></li>
                        <li><a href="./aboutme.html">About Me</a></li>
                    </ul>     
            </div>
        </header>
        <div id="content">
            <section class="screen">
                <article class="article">
                    <div class="div-avatar">
                        <img class="avatar" src="../public/img/avatarMiddleGreen.png">
                    </div>
                    <div class="div-about">
                        <h2>About Me</h2>
                        <div class="separator-line"></div>
                        <p class="p-about">Hi! </br>I’m a Junior Front End Developer based in Brussels, Belgium. Following an intensive 1-year coding course at Interface3, I am now ready to put my skills to the test in the world of work. I love coming up with cool visuals that make websites more intuitive. I’m well-organised and pay attention to detail. I’m a great team-mate and love exchanging ideas with others. Away from my screen, I enjoy sewing, travelling and caring for animals in shelters.</p>
                    </div>
                </article>
            </section> 
            <section class="contact">
                <article class="contact-icons">
                    <a href="https://github.com/sablonthais"><img class="icons" src="../public/img/gitHubIcon.png" alt="Lien GitHub"></a>
                    <a href="https://www.linkedin.com/in/thais-sablon/"><img class="icons" src="../public/img/linkedInIcon.png" alt="Lien Linked In"></a>
                    <a href="../public/files/CVonline.pdf"><img class="icons" src="../public/img/cvPdfIcon.png" alt="Lien CV Pdf"></a>
                </article>
            </section>
        </div>





    </div>
        
    <script src="../public/js/menuBurger.js"></script>
</body>
</html>