<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/portfolio.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Sablon Thaïs | Portfolio</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="logo">
                <a href="../index.html"><h1 id="thais">Sablon Thaïs</h1></a>
                <h1 id="frontend">Front End Developer Junior</h1>
            </div>
            <div class="hamburger">
                <div class="line-menu half start"></div>
                <div class="line-menu"></div>
                <div class="line-menu half end"></div>
            </div>
            <div class="navBar">
                <h3>Menu</h3><br>
                   <ul>
                    <li><a href="../index.html">Homapage</a></li>
                        <li><a href="./portfolio.html">Projects</a></li>
                        <li><a href="./skills.html">Skills</a></li>
                        <li><a href="./aboutme.html">About Me</a></li>
                    </ul>     
            </div>
        </header>
        <div id="content">
            <section class="screen">
                <div class="project-nns blob">
                    <img class="bulle" src="../public/img/bulle1.png" alt="bulle project Now No Stress">
                    <a href="#"><h2>Now, No Stress</h2></a>
                    
                </div>
                <div class="project-dashboard blob">
                    <img class="bulle" src="../public/img/bulle2.png" alt="bulle project dashboard">
                    <a href="#"><h2>Dashboard</h2></a>
                </div>
                <div class="project-rob blob">
                    <img class="bulle" src="../public/img/bulle3.png" alt="bulle Rob's Portfolio">
                    <a href="#"><h2>Robert Guilleaume's <br> Portfolio</h2></a>
                </div>
                
            </section> 
            <section class="contact">
                <article class="contact-icons">
                    <a href="https://github.com/sablonthais"><img class="icons" src="../public/img/gitHubIcon.png" alt="Lien GitHub"></a>
                    <a href="https://www.linkedin.com/in/thais-sablon/"><img class="icons" src="../public/img/linkedInIcon.png" alt="Lien Linked In"></a>
                    <a href="#"><img class="icons" src="../public/img/cvPdfIcon.png" alt="Lien CV Pdf"></a>
                </article>
            </section>
            <section class="screen-nns">
                <article class="description card">
                    <div class="titles">
                        <h2>Now, No Stress</h2>
                        <p>First Group Project</p>
                    </div>
                    <p>During my year of studying Web Development, this was my first group project. We developped a website that would provide a space for people to find ressources to manage their day to day stress and anxiety. After a quick series of questions to help us guide the visitor to the appropriate ressource, the visitor gets to use differant tools to manage their stress. Meditation, deep breathing,bedtime stories,... we tried to offer a large panel of ressources</p>
                    <h3 class="techno">Technologies</h3>
                    <div class="tech-icons">
                        <img src="../public/img/html5.png" alt="icone html5" title="icone html5">
                        <img src="../public/img/css3.png" alt="icone css3" title="icone css3">
                        <img src="../public/img/javascript.png" alt="icone javascript" title="icone javascript">
                        <img src="../public/img/php.png" alt="icone php" title="icone php">
                        <img src="../public/img/mysql.png" alt="icone mysql" title="icone mysql">
                    </div>
                    <div class="tech-icons">
                        <img src="../public/img/adobexd.png" alt="icone adobe xd" title="icone adobe xd">                        
                        <img src="../public/img/Illustrator.png" alt="icone adobe illustrator" title="icone adobe illustrator">
                    </div>
                    <div class="btn-links">
                        <button class="btn-git-nns">GitHub</button>
                            
                    </div>
                </article>
                <article class="visual card">
                    <img src="../public/img/visual1nns.png" alt="Now No Stress's Visual">
                    <img src="../public/img/visual2nns.png" alt="Now No Stress's Visual">
                </article>
            </section>
            <section class="screen-coloring">
                <article class="visual card">
                    <img src="../public/img/blueFox.png" alt="Coloring Fox's Visual">
                </article>
                <article class="description card">
                    <h2>Coloring Little Fox</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil ullam magnam consequatur vitae illo consequuntur sequi enim et tenetur, libero dolor ipsam voluptatibus sint nam temporibus, quos blanditiis rerum dignissimos.</p>
                    <h3>Technologies</h3>
                    <div class="tech-icons">

                    </div>
                    <div class="btn-links">
                        <button class="btn-git-coloring">GitHub</button>
                            
                    </div>
                </article>
                

            </section>
        </div>





    </div>
        
    <script src="../public/js/menuBurger.js"></script>
</body>
</html>