<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/portfolio.css">
    <link rel="stylesheet" href="../public/css/blobz.min.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Sablon Thaïs | Portfolio</title>
</head>
<body>
    <div id="container">
        <header id="top">
            <div class="logo">
                <a href="../index.html"><h1 id="thais">Sablon Thaïs</h1></a>
                <h1 id="frontend">Junior Front End Developer</h1>
            </div>
            <div class="hamburger">
                <div class="line-menu half start"></div>
                <div class="line-menu"></div>
                <div class="line-menu half end"></div>
            </div>
            <div class="navBar">
                <h3>Menu</h3><br>
                   <ul>
                    <li><a href="../index.html">Homepage</a></li>
                        <li><a href="./portfolio.html">Projects</a></li>
                        <li><a href="./skills.html">Skills</a></li>
                        <li><a href="./aboutme.html">About Me</a></li>
                    </ul>     
            </div>
        </header>
        <div id="content">
            <section class="screen">
                <div class="section-blobz">
                    <div class="tk-blob-pokemon" style="--time: 22s; --amount: 3; --fill-brown:  #521A09;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.6 343.9">
                          <path d="M275.9 63.1c30.7 37.3 50.9 84.2 43 126.9-7.9 42.7-44.1 81.2-93 112.1C177 332.9 115.2 356 70.9 337 26.5 317.9-.4 256.7 0 204.6c.4-52 28-95 59.7-132.5C91.4 34.5 127.1 2.3 165.5.1c38.5-2.2 79.7 25.7 110.4 63z"></path>
                        </svg>
                    </div>
                    <span class="lien pokemon">
                        <a href="#screen-pokemon"><h2>Pokemon</h2></a>
                    </span>
                </div>
                <div class="section-blobz">
                    <div class="tk-blob-dashboard" style="--fill-yellow: #F8B400;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.4 374.7">
                          <path d="M309.9 70.6c37.8 52.7 39.8 128.7 15.4 184.1-24.3 55.4-75 90.1-125.4 107.4-50.4 17.4-100.4 17.4-136.2-3.3-35.7-20.7-57.2-62-62.4-102.1-5.2-40.2 5.8-79 29.1-128.3C53.6 79.1 89.1 19.3 143.7 4.1 198.3-11.2 272 18 309.9 70.6z"></path>
                        </svg>
                      </div>
                    <span class="lien dashboard">
                        <a href="#screen-dashboard"><h2>Dashboard</h2></a>
                    </span>
                </div>
                <div class="section-blobz">
                    <div class="tk-blob-garance" style="--time: 20s; --amount: 5; --fill-green: #004445;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.6 343.9">
                            <path d="M275.9 63.1c30.7 37.3 50.9 84.2 43 126.9-7.9 42.7-44.1 81.2-93 112.1C177 332.9 115.2 356 70.9 337 26.5 317.9-.4 256.7 0 204.6c.4-52 28-95 59.7-132.5C91.4 34.5 127.1 2.3 165.5.1c38.5-2.2 79.7 25.7 110.4 63z"></path>
                        </svg>
                    </div>
                    <span class="lien garance">
                        <a href="#"><h2>Garance asbl</h2></a>
                    </span>
                </div>
            </section> 
            <section class="contact">
                <article class="contact-icons">
                    <a href="https://github.com/sablonthais" target="_blank"><img class="icons" src="../public/img/gitHubIcon.png" alt="Lien GitHub"></a>
                    <a href="https://www.linkedin.com/in/thais-sablon/" target="_blank"><img class="icons" src="../public/img/linkedInIcon.png" alt="Lien Linked In"></a>
                    <a href="../public/files/CVonline.pdf" target="_blank"><img class="icons" src="../public/img/cvPdfIcon.png" alt="Lien CV Pdf"></a>
                </article>
            </section>
            <!--& ABOUT THE POKEMON MEMORY-->
            <section class="screen-pokemon" id="screen-pokemon">
                <article class="visual card">
                    <img src="../public/img/pokemonCode.png" alt="PokemonCode's Visual">
                    <img src="../public/img/pokemonVisual.png" alt="Pokemon's Visual">
                </article>
                <article class="description card">
                    <div class="titles">
                        <h2>Pokemon Memory</h2>
                    </div>
                    
                    <p>Petit exercice fait en Javacript, HTML et CSS, en faisant appel la fameuse api Pokemon. Il faut retrouver les paires identiques de pokemon en retournant les cartes.</p>
                    <h3>Technologies</h3>
                    <div class="tech-icons">
                        <img src="../public/img/html5.png" alt="icone html5" title="icone html5">
                        <img src="../public/img/css3.png" alt="icone css3" title="icone css3">
                        <img src="../public/img/javascript.png" alt="icone javascript" title="icone javascript">
                    </div>
                    <div class="btn-links">
                        <a href="https://github.com/sablonthais/memoryPokemon" target="_blank" ><button class="btn-git-pokemon">GitHub</button></a> 
                        <a href="#top"><button class="btn-git-pokemon">Back To Top</button></a>   
                    </div>
                </article>
            </section>
            <!--& ABOUT THE DASHBOARD SCREEN-->
            <section class="screen-dashboard" id="screen-dashboard">
                <article class="description card">
                    <div class="titles">
                        <h2>My Node Dashboard</h2>
                    </div>
                    <p>I created this dashboard of mini-apps using Node.js in order to test the skills I’d learnt in class. As I was developing it I learnt to use packages, make API calls (external requests) and display the requested data on screen. I gave it my own touch with CSS.</p>
                    <h3 class="techno">Technologies</h3>
                    <div class="tech-icons">
                        <img src="../public/img/html5.png" alt="icone html5" title="icone html5">
                        <img src="../public/img/css3.png" alt="icone css3" title="icone css3">
                        <img src="../public/img/javascript.png" alt="icone javascript" title="icone javascript">
                        <img src="../public/img/nodejs.png" alt="icone node js" title="icone node js">
                    </div>
                    <div class="tech-icons">
                        <img src="../public/img/adobexd.png" alt="icone adobe xd" title="icone adobe xd">
                    </div>
                    <div class="btn-links">
                        <a href="https://github.com/sablonthais/myNodeDashboard" target="_blank" ><button class="btn-git-dashboard">GitHub</button></a> 
                        <a href="#top"><button class="btn-git-pokemon">Back To Top</button></a>
                    </div>
                </article>
                <article class="visual card">
                    <img src="../public/img/myNodeDashboard.png" alt="MyNodeDashboard's Visual">
                    <img src="../public/img/dashboardCode.png" alt="MyNodeDashboard's Code Visual">
                </article>
            </section>
            
        </div>





    </div>
        
    <script src="../public/js/menuBurger.js"></script>
</body>
</html>