<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/skills.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Sablon Thaïs | Skills</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="logo">
                <a href="../index.html"><h1 id="thais">Sablon Thaïs</h1></a>
            </div>
            <div class="hamburger">
                <div class="line-menu half start"></div>
                <div class="line-menu"></div>
                <div class="line-menu half end"></div>
            </div>
            <div class="navBar">
                <h3>Menu</h3><br>
                   <ul>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">About Me</a></li>
                    </ul>     
            </div>
        </header>
        <div id="content">
            <section class="screen">
                <article class="skills">
                    <!--<img  class="bulle" src="../public/img/bulle2.png" alt="bulle tech skills">-->
                    <div class="tech-skills card">
                        <h2>Tech Skills</h2>
                        <div class="skill-icons">
                            <div class="ul-skills">
                                <h4>Development</h4>
                                <ul class="ul-skills">
                                    <li>Html5</li>
                                    <li>Css3</li>
                                    <li>Javascript</li>
                                    <li>Node js</li>
                                    <li>Mongo DB</li>
                                    <li>React js</li>
                                    <li>PHP</li>
                                    <li>jQuery</li>
                                    <li>My SQL</li>
                                    <li>WordPress</li>
                                </ul>
                            </div>
                            <div class="ul-skills stacked">
                                <div class="ul-skills">
                                    <h4>Design</h4>
                                    <ul class="ul-skills">
                                        <li>Adobe XD</li>
                                        <li>Adobe Animate</li>
                                        <li>Adobe Illustrator</li>
                                        <li>Adobe Photoshop</li>
                                    </ul>
                                </div>
                                <div class="ul-skills">
                                    <h4>Tools</h4>
                                    <ul class="ul-skills">
                                        <li>Visual Studio Code</li>
                                        <li>Git</li>
                                        <li>GitHub</li>
                                        <li>NPM</li>
                                    </ul>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </article>
                <article class="skills">
                    <!--<img  class="bulle" src="../public/img/bulle3.png" alt="bulle language skills">-->
                    <div class="language-skills card">
                        <h2>Language Skills</h2>
                        <ul>
                            <li>French</li>
                            <li>Maternal Language</li>
                            <li>English</li>
                            <li>Level B2*</li>
                            <li>Spanish</li>
                            <li>Basic notions</li>
                            <li>Dutch</li>
                            <li>Level A2*</li>
                        </ul>
                        <p>*CERCL</p> 
                    </div>
                </article>
                <article class="skills">
                    <!--<img  class="bulle" src="../public/img/bulle1.png" alt="bulle soft skills">-->
                    <div class="soft-skills card">
                        <h2>Soft Skills</h2>
                        <ul>
                            <li>Organisation</li>
                            <li>Communication</li>
                            <li>Team Work</li>
                            <li>Patience</li>
                            <li>Diplomacy</li>
                            <li>Ponctuality</li>
                            <li>Creativity</li>
                        </ul>
                    </div>
                </article>
            </section> 
            <section class="contact">
                <article class="contact-icons">
                    <a href="https://github.com/sablonthais"><img class="icons" src="../public/img/gitHubIcon.png" alt="Lien GitHub"></a>
                    <a href="https://www.linkedin.com/in/thais-sablon/"><img class="icons" src="../public/img/linkedInIcon.png" alt="Lien Linked In"></a>
                    <a href="#"><img class="icons" src="../public/img/cvPdfIcon.png" alt="Lien CV Pdf"></a>
                </article>
            </section>
        </div>





    </div>
        
    <script src="../public/js/menuBurger.js"></script>
</body>
</html>