<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/skills.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Sablon Thaïs | Skills</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="logo">
                <a href="../index.html"><h1 id="thais">Sablon Thaïs</h1></a>
                <h1 id="frontend">Front End Developer Junior</h1>
            </div>
            <div class="hamburger">
                <div class="line-menu half start"></div>
                <div class="line-menu"></div>
                <div class="line-menu half end"></div>
            </div>
            <div class="navBar">
                <h3>Menu</h3><br>
                   <ul>
                    <li><a href="../index.html">Homapage</a></li>
                        <li><a href="./portfolio.html">Projects</a></li>
                        <li><a href="./skills.html">Skills</a></li>
                        <li><a href="./aboutme.html">About Me</a></li>
                    </ul>     
            </div>
        </header>
        <div id="content">
            <section class="screen">
                <div class="galets">
                    <img class="galet_pic" src="../public/img/skills_galets.svg" alt="galets de couleur">
                </div>
            </section> 
            <section class="contact">
                <article class="contact-icons">
                    <a href="https://github.com/sablonthais"><img class="icons" src="../public/img/gitHubIcon.png" alt="Lien GitHub"></a>
                    <a href="https://www.linkedin.com/in/thais-sablon/"><img class="icons" src="../public/img/linkedInIcon.png" alt="Lien Linked In"></a>
                    <a href="../public/files/CVonline.pdf"><img class="icons" src="../public/img/cvPdfIcon.png" alt="Lien CV Pdf"></a>
                </article>
            </section>
        </div>





    </div>
        
    <script src="../public/js/menuBurger.js"></script>
</body>
</html>