@font-face {
    font-family: 'sageregular';
    src: 
         url('../fonts/sage-webfont.ttf')
         
    

}

@font-face {
    font-family: 'poppinsextralight';
    src: url('../fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/Poppins-Regular.ttf');
   
}