:root{
    --main-bg: #FAF5E4;
    --dark-green: #004445;
    --dark-brown:  #521A09;
    --yellow: #F8B400;
    --middle-green: #2C786C; 
}


body{
    background-color: var(--main-bg);
}
#container{
    width: 100vw;
    height: 100vh;
}

/** About the HEADER */
/** *****************************************************************/

header{
    width: 100%;
    height: 15vh;
    padding-left: 3%;
    padding-right: 3%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
header h1{
    font-size: 2rem;
    color: var(--dark-green);
}
/*& About the LOGO */
/*& *********************************************************/
.logo{
    font-family: 'sageregular';
}
.logo > a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: 'sageregular';
    cursor: pointer;
}
#frontend{
    font-size: medium;
}

/*& About the MENU BURGER */
/*& *********************************************************/


/*~ About the "icon" */
.hamburger{
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    transition:  transform 330ms ease-out;
}

.line-menu{
    background-color: var(--yellow);
    border-radius: 5px;
    width: 100%;
    height: 4px;
}
.line-menu.half{
    width: 50%;
}
.line-menu.start{
    transition: transform 330ms;
    transition-timing-function: cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}
.line-menu.end{
    align-self: flex-end;
    transition: transform 330ms;
    transition-timing-function: cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

/*~ Animation ONCLICK avec JS */
.hamburger.is-active {
    transform: rotate(-45deg);
    color: var(--main-bg);
    z-index: 1;
}
.is-active .line-menu.start{
    transform: rotate(-90deg) translateX(3px);
    background-color: var(--main-bg);
    z-index: 1;
}
.is-active .line-menu.end{
    transform: rotate(-90deg) translateX(-3px);
    background-color: var(--main-bg);
    z-index: 1;
}
.is-active .line-menu{
    background-color: var(--main-bg);
    z-index: 1;
}

/*~ About the NAVBAR */
a , button{
    cursor: pointer;
    text-decoration: none;
}
a{
    color: white;
}

.navBar{
    position:fixed;
    right: -500px;
    top: 0;
    width: 12vw;
    height: 100%;
    padding-top: 8%;
    background-color: var(--yellow);
    transition: 0.5s;
}   
.navBar h3{
    color: var(--main-bg);
    font-family: 'sageregular';
    text-align: center;
    font-size: 1.5rem;
    padding-top: 40px;
}

.navBar ul li{

    color: var(--main-bg);
    font-family: 'poppinsextralight';
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
    font-size: 0.8rem;
    padding: 30px 30px;
    border-bottom: 1pt solid var(--main-bg);
}
.navBar ul{
    margin-bottom: 50px;
}

.navBar.active{
    right: 0;
}
/** About the CONTENT */
/** *****************************************************************/
#content{
    display: flex;
    flex-direction: column;
}
.screen{
    width: 100vw;
    height: 60vh;
    padding-left: 3%;
    padding-right: 3%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.blob{
    width: 20%;
    color: var(--dark-green);
    font-family: 'sageregular';

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blob > a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: 'sageregular';
    cursor: pointer;
}
.bulle{
    width: 20%;
    object-fit: cover;
    position: absolute;
    z-index: -1;

}

.project-rob > a > h2{
    text-align: center;
} 
/*todo ABOUT NOW NO STRESS *****************/
.screen-nns{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    
}
.card{
    width: 50%;
    height: 100%;
    color: black;
    padding: 7%;

    display: flex;
    flex-direction: column;
}
.description{
    justify-content: space-around;
    align-items: flex-start;
}

.description > h3{
    font-family: 'sageregular';
    font-size: 1rem;
    color: var(--dark-green);
}
.description > p{
    font-family: 'poppinsextralight';
}
.titles{
    font-family: 'sageregular';
    font-size: 3rem;
    color: var(--dark-green);
}
.titles > p{
    font-size: medium;
}
.card .techno{
    font-size: 1.5rem;
}
.btn-link{
    width: 100%;
}

.btn-git-nns{
    background-color: var(--main-bg);
    color: var(--dark-green);
    border: solid 1px var(--dark-green);
    font-family: 'sageregular';
    border-radius: 25px;
    
}
.btn-git-nns:hover{
    background-color: var(--dark-green);
    color: var(--main-bg);
    border: solid 1px var(--main-bg);
    border-radius: 25px;
    
}

.visual{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.visual > img{
    width: 100%;
    object-fit: cover;
}



/*todo ABOUT COLORING *****************/
.screen-coloring{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;  
}
/*.card{
    width: 50%;
    height: 100%;
    color: black;
    padding: 7%;

    display: flex;
    flex-direction: column;
}*/
.description{
    justify-content: space-around;
    align-items: flex-start;
}

.description > h3{
    font-family: 'sageregular';
    font-size: 1rem;
    color: var(--dark-green);
}
.description > p{
    font-family: 'poppinsextralight';
}
.description > h2{
    font-family: 'sageregular';
    font-size: 1.5rem;
    color: var(--dark-green);
}

.btn-link{
    width: 100%;
}
.btn-git-coloring{
    background-color: var(--main-bg);
    color: var(--dark-green);
    border: solid 1px var(--dark-green);
    font-family: 'sageregular';
    border-radius: 25px;
    
}
.btn-git-coloring:hover{
    background-color: var(--dark-green);
    color: var(--main-bg);
    border: solid 1px var(--main-bg);
    border-radius: 25px;
    
}

/*& ABOUT THE CONTACT ICONS AREA */
/*& *******************************************/
.contact{
    width: 100%;
    height: 20vh;
}
.contact-icons{
    width: 100%;
    height: 20vh;
    padding-left: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.icons{
    width: 70%;
    object-fit: cover;
}